<%- include('./partials/header') %>

    <body>

        <div class="loader">
            <img class="img-loader" src="https://i.giphy.com/media/l3nWhI38IWDofyDrW/giphy.webp" alt="">
        </div>


        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-car" src="/img/event1.jpg" alt="img">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="img-car" src="/img/event2.jpg" alt="img">
                </div>
                <div class="carousel-item">
                    <img class="img-car" src="/img/event3.jpg" alt="img">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <i class="far fa-chevron-left fa-2x"></i>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <i class="far fa-chevron-right fa-2x"></i>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="arrow-container">
            <a href="#arrow" class="arrow" id="arrow"><i class="far fa-angle-double-down fa-2x"></i></a>
        </div>

        <div class="description" id="description" data-aos="zoom-in">
            <!-- <i class="fas fa-exclamation-triangle"></i> -->
            <i class="fas fa-lg fa-exclamation exclamation">Warning</i>
            <p id="start">
                A seguito dell'emergenza da Coronavirus (COVID-19), da
                marzo 2020 sono stati sospesi, su tutto
                il
                territorio
                nazionale, i servizi di apertura al pubblico degli istituti e luoghi della cultura, nonché gli
                spettacoli di
                qualsiasi natura, inclusi quelli teatrali e cinematografici.
            </p>
            <p>Successivamente, sono stati consentiti, a determinate condizioni, da maggio 2020, il servizio di apertura
                al pubblico dei musei e degli altri istituti e luoghi della cultura e, da giugno 2020, lo svolgimento di
                spettacoli aperti al pubblico in sale teatrali, sale da concerto, sale cinematografiche e in altri
                spazi.
            </p>
            <p>A ottobre 2020, in considerazione del carattere particolarmente diffusivo dell'epidemia e dell'incremento
                dei casi sul territorio nazionale, sono state nuovamente introdotte, progressivamente, le stesse
                limitazioni disposte precedentemente. Qualche nuova possibilità di riapertura è poi stata prevista fra
                dicembre 2020 e gennaio 2021. Ulteriori riaperture, inizialmente previste a decorrere dalla fine del
                mese di marzo 2021, sono poi slittate alla fine del mese di aprile 2021.
                <!-- <i class="fas fa-2x fa-exclamation exclamation"></i> -->
                <!-- <i class="fas fa-exclamation-triangle"></i> -->
            </p>

            <a
                href="https://temi.camera.it/leg18/temi/le-misure-adottate-a-seguito-dell-emergenza-coronavirus-covid-19-per-il-settore-dei-beni-e-delle-attivit-culturali.html">Per
                maggiori informazioni</a>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
        <script src="js\animation\anime.js"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>

    </html>

    <%- include('./partials/footer') %>