<%- include('./partials/header') %>

<link rel="stylesheet" href="">

<body>

    <h1 class="info">Un Qrcode è stato inviato al tuo indirizzo di posta elettronica e l'evento è stato aggiunto a "I miei eventi" </h1>
</body>

<%- include('./partials/footer') %>