<%- include('./partials/header') %>

<link rel="stylesheet" href="">

<body>

    <div class="loader">
        <img class="img-loader" src="https://i.giphy.com/media/l3nWhI38IWDofyDrW/giphy.webp" alt="Loading...">
    </div>

    <h1 class="info">Un Qrcode è stato inviato al tuo indirizzo di posta elettronica e l'evento è stato aggiunto a "I miei eventi" </h1>
</body>

<%- include('./partials/footer') %>