<%- include('./partials/header') %>

    <body>


        <form class="registration needs-validation" method="POST" action="/email-reg">
            <div class="form-row">
                <!-- <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                    placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small> -->
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="First name" aria-label="First name"
                            id="Fname" name="Fname" required>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name"
                            id="Lname" name="Lname" required>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <input type="email" class="form-control" placeholder="Enter email" aria-describedby="emailHelp"
                            id="email" name="email" required>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>


        <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
        <script src="js\animation\anime.js"></script>
    </body>

    </html>