<%- include('./partials/header') %>

    <link rel="stylesheet" href="css/scan.css">


    <body >

        <div class="qr">
            <canvas class="mycanvas" id="mycanvas" style="border: 2px solid black;"></canvas>

            <button type="button" id="btndownload" class="btn btn-primary">download</button>
        </div>


        <img style="display: none;" id="imgconverted" src="" alt="">

        <script src="js/save.js" , id="qr" source="<%= qrImage %>"></script>

    </body>

    <%- include('./partials/footer') %>