<%- include('./partials/header') %>
    <link rel="stylesheet" href="css/underC.css">

    <body>

        <div class="loader">
            <!-- <img class="img-loader" src="https://i.giphy.com/media/l3nWhI38IWDofyDrW/giphy.webp" alt="Loader..."> -->
            <img class="img-loader" src="https://cdn.dribbble.com/users/107759/screenshots/4231691/radar.gif" alt="Loading...">
        </div>

        <div class="error">
            <h1>404</h1>
            <h4>Qualcosa è andato storto...</h4>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
        <script src="js\animation\anime.js"></script>
    </body>

    <%- include('./partials/footer') %>