<%- include('./partials/header') %>
    <link rel="stylesheet" href="css/underC.css">

    <body>
        <div class="error">
            <h1>404</h1>
            <h4>I think something has gone wrong...</h4>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
        <script src="js\animation\anime.js"></script>
    </body>