<%- include('./partials/header') %>

    <body>

        <div class="loader">
            <!-- <img class="img-loader" src="https://i.giphy.com/media/l3nWhI38IWDofyDrW/giphy.webp" alt="Loading..."> -->
            <img class="img-loader" src="https://cdn.dribbble.com/users/107759/screenshots/4231691/radar.gif" alt="Loading...">
        </div>

        <div class="welcome">
            <h1>Benvenuto</h1>
            <h3>Ora che sei registrato puoi esplorare il sito e registrarti agli eventi</h3>
        </div>

    </body>

    <%- include('./partials/footer') %>