<%- include('./partials/header') %>

    <body>
        <div class="welcome">
            <h1>WELCOME</h1>
            <h3>Now that you are registered you can explore the site</h3>
        </div>

    </body>

    <%- include('./partials/footer') %>