.container-card{
    margin-top: 24vh;
}

.card{
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 18rem;
    box-shadow: 2px 2px 10px #505050;
    height: 95% !important;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-primary {
    width: 100%;
    background-color: #505050;
    border-color: #505050;
}

.btn-primary:hover{
    background-color: black !important;
    border-color: black !important;
    box-shadow: none !important;
}

.btn-primary:active{
    background-color: #505050 !important;
    border-color: #505050 !important;
    box-shadow: none !important;
}

.btn-primary:visited{
    background-color: #505050 !important;
    border-color: #505050 !important;
    box-shadow: none !important;
}