/* registration */

body{
    min-height: auto;
}

.decoration{
    position: absolute;
    text-align: center;
    z-index: -1;
}

.el{
    width: 20px;
    height: 20px;
    background-color: white;
    margin-top: 30%;
    margin-bottom: 30%;
}

.fas{
    color: black !important;
}

.form{
    display: flex;
    align-items: center;
    background-color: white;
    width: auto;
    margin-top: 20vh;
    width: 70vw;
    margin-left: auto;
    margin-right: 15%;
    height: auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
}

.registration{
    padding: 3vh;  
    width: 100% !important;
}

hr{
    margin-top: 5%;
    margin-bottom: 4%;
}

h3{
    margin-bottom: 3%;
    font-weight: 800;
    padding-left: 12px;
    margin-bottom: 5%;
}

.form-row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100% !important;
}

.row{
    width: 100% !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 !important;
}

.col{
    width: 95% !important;
}

p{
    font-weight: 600;
}

.btn-primary{
    width: 100%;
    background-color: black;
    border-color: black;
    
}

.btn-primary:hover{
    background-color: #505050 !important;
    border-color: #505050 !important;
}

.btn-primary:active{
    background-color: #505050 !important;
    border-color: #505050 !important;
    box-shadow: none !important;
}

.form-text{
    text-align: center;
}

a.log-in{
    color: black;
    font-weight: 600;
}

a.log-in:hover{
    color: #505050;
}