.qr{
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: white;
    width: auto;
    margin-top: 30vh;
    width: 70vw;
    flex-direction: column;
}

.mycanvas{
    width: 20vw;
    height: 20vh;
}

.btn-primary{
    width: 100%;
    background-color: black;
    border-color: black;
}

.btn-primary:hover{
    background-color: #505050 !important;
    border-color: #505050 !important;
}

.btn-primary:active{
    background-color: #505050 !important;
    border-color: #505050 !important;
    box-shadow: none !important;
}