@media screen and (max-width: 359px) {

    a.nav-link{
        width: auto !important;
        padding: .5px;
    }

    /* .container-fluid{
        min-height: 110px;
    } */

    .navbar-brand{
        min-width: 200px !important;
    }

    .logo{
        width: 70px !important;
        height: 70px !important;
    }

    .separator{
        height: 30px !important;
    }
    
}

@media screen and (max-width: 435px) {
    .navbar-brand{
        min-width: 250px;
    }
    
}

@media screen and (max-height: 435px) {
    /* navbar */

    .container-fluid{
        /* max-height: 87px; */
        /* min-height: 110px; */
        height: auto;
    }

    .navbar-brand{
        min-height: 80px !important;
        padding: 0 !important;
    }

    .logo{
        width: 77px !important;
    }

    .separator{
        margin-left: 20px;
        margin-right: 20px;
    }
    
}

@media screen and (max-width: 450px) {

    /* navbar */

    .container-fluid{
        height: auto;
    }

    .navbar-brand{
        min-height: 80px !important;
        padding: 0 !important;
    }

    .logo{
        width: 77px !important;
    }

    .separator{
        margin-left: 20px;
        margin-right: 20px;
    }


   /* carousel */
   .carousel-item{
    max-height: 85vh;
    }
}

@media screen and (max-width: 700px) {

    .decoration{
        display: none !important;
    }

    .form{
        margin-right: 8% !important;
        margin-left: 8% !important;
        width: auto !important;
    }
}

@media screen and (max-width: 890px) {

    /* navbar */
   .logo{
       width: 130px;
   }

   /* index */
   .img-car{
        height: 70vh !important;
    }

    .arrow-container{
        margin-bottom: 20vh;
    }

    /* .description{
        padding: 3%;
    } */

   /* under-cons */
   div.error{
    background-size: 100%;
   }

}

@media screen and (max-width: 991px) {

    .navbar-collapse{
        min-width: 0;
        margin-top: 1vh;
    }

    .navbar-nav{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    a.nav-link{
        width: 15%; 
        min-width: 88px;
        text-align: center;
        align-self: flex-end;
        /* padding: 1px; */
    }

    .img-car{
        height: 80vh;
    }

}

@media screen and (max-width: 1050px) {
    .form{
        margin-right: 8% !important;
    }
}