* {
	box-sizing: border-box;
    margin: 0;
}

body {
	margin-top: 0px;
	width: 100%;
	min-height: 100vh !important;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	/* overflow-x: hidden;  */
}

/* navbar */
.navbar {
    position: fixed;
    top: 0;
    margin-top: 0px;
    width: 100vw;
    overflow: hidden;
    background-color: #e0e0e0 !important;
    z-index: 1;
    height: auto;
    box-shadow: 0 0 15px #4b4b4b;
    border: .5px solid rgba(0, 0, 0, 0.226);
    z-index: 5;
}

.container-fluid {
    display: flex !important;
    justify-content: space-between !important;
}

.navbar-brand{
    min-height: 100px;
    min-width: 280px;
    max-width: 330px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 22vw;
}

.logo{
    width: 150px!important;
    max-height: 100px;
    max-width: 100px;
    margin: 0;
}

.separator{
    height: 40px;
    border: .8px solid rgb(0, 0, 0)
}

.title{
    font-weight: 700;
}

.navbar-collapse{
    flex-grow: 0 !important;
    min-width: 510px;
    text-align: right;

}

.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

a.nav-link{
    font-weight: 700; 
    border-radius:10px;
    padding-left: 1vw !important;
    padding-right: 1vw !important;
}

a.nav-link.singin{
    font-weight: 700; 
    border: 2px solid rgb(0, 0, 0);
    border-radius:10px;
    padding-left: 1vw !important;
    padding-right: 1vw !important;
}

a.nav-link.singin:hover{
    background-color: black;
    /* background-color: #505050; */
    /* border-color: #505050; */
    border-color: black;
    color: white !important;
}

/* index */
.carousel-item{
    max-height: 90vh;
}

.img-car{
    height: 95vh;
    width: 100% !important;
    object-fit: cover !important;
    object-position: bottom !important;
}

.carousel-control-next, .carousel-control-prev{
    z-index: 0;
    width: 10vw;
}

/* .carousel-control-next{
    animation: bounceN 2s ease infinite;
}

.carousel-control-prev{
    animation: bounceP 2s ease infinite;
}

@keyframes bounceN{
    0%, 25%, 55%, 75%, 100%{
        transform: translateX(0);
    }
    45%{
        transform: translateX(-20px);
    }
    65%{
        transform: translateX(-10%);
    }
    85%{
        transform: translateX(-5%);
    }
}

@keyframes bounceP{
    0%, 25%, 55%, 75%, 100%{
        transform: translateX(0);
    }
    45%{
        transform: translateX(20px);
    }
    65%{
        transform: translateX(10%);
    }
    85%{
        transform: translateX(5%);
    }
} */

.arrow-container{
    display: flex;
    justify-content: center;
    height: 40px;
    margin-bottom: 5%;
}

.arrow{
    color: black;
    height: 32px;
}

a.arrow:hover{
    color: #505050;
}

.description{
    margin: 0 auto;
    padding: 1.5rem;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 2px 8px black;
}

p{
    font-weight: 500;
}

a{
    color:#505050;
    font-weight: 500;
    box-shadow: none !important;
}

a:hover{
    color:#505050;
    font-weight: 500;
}

.exclamation{
    color: red;
}

/* welcome */

div.welcome{
    text-align: center;
    margin-top: 25vh;
    /* background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif); */
    /* height: 60vh; */
    background-position: center;
    background-repeat: no-repeat;
}

/* loader */

.loader{
    position: fixed;
    width: 100%;
    height: 100%;
    /* top: 25vh; */
    left: 0;
    z-index: 4;
    background-color: white;
    display: none;
}

.img-loader{
    max-width: 480px;
    width: 50%;
}

.loader.hidden{
    animation: fadeOut 1s;
    animation-fill-mode: backwards;
    display: flex; 
    justify-content: center;
    align-items: center;
}

@keyframes fadeOut{
    from {opacity: 0;}
    to {opacity: 1;}
}

/* footer */

footer{
    margin-top: 5%;
    box-shadow: 0 0 15px #4b4b4b;
    /* max-height: 90px; */
}

.mb-4{
    margin: 0 !important;
    max-height: 50px;
    /* box-shadow: 0 0 15px #4b4b4b; */
}

.copyright{
    background-color: #e0e0e0 !important;
    /* box-shadow: 0 0 15px #4b4b4b; */
    padding: 0.5rem !important;
    border-top: 1px solid rgba(0, 0, 0, 0.24);
}

.btn-link{
    box-shadow: none;
    margin: 0 !important;
}

.btn-link:active{
    box-shadow: none;
}

h1.info{
    text-align: center;
    margin-top: 25vh;
}