body{
    overflow-y: hidden;
}

div.error{
    text-align: center;
    margin-top: 25vh;
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
}